<div class="container-fluid posts">
	<div class="row">
		<div class="col-8 offset-2">
			<div class="card text-center">
                <h4 class="card-header bg-dark text-truncate"><a class="link" href="/dashboard/{{id}}">{{title}}</a></h5>
				<h6 class="card-header bg-dark">Posted by {{user.username}} on {{format_date user.createdAt}} at {{format_time user.createdAt}}</h6>
                <div class="card-body">
                    <p class="card-text">{{description}}</p>
                </div>
			</div>
		</div>
	</div>
</div>